
# package file
*.war
*.ear

# kdiff3
*.org

# maven
target/

#exlipse
.settings/
.project
.classpath

# idea
.idea/
/idea/
*.ipr
*.iml
*iws

# temp file
*.log
*.chache
*.tmp

# system
.DS_Store

*.class